<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewDAO">
	<!-- mybatis 자료형 : int / hashmap / string -->
	
<!-- 	게시글 작성하기 -->

	<insert id="insertReview" parameterType="review">
	insert into BUYREVIEW (BUYREVIEW_ID, BOOK_ID, CUSTOMER_ID, BUYREVIEW_CONTENT, BUYREVIEW_SCORE) 
	values (buyReview_id_seq.nextval, #{bookId}, #{customerId}, #{buyreviewContent}, #{buyreviewScore})
	</insert>
	
	
<!-- 	게시글 출력하기 -->
	<select id="selectReview" resultType="review" parameterType="review">
	select BUYREVIEW_ID, CUSTOMER_ID, BOOK_ID, BUYREVIEW_CONTENT, BUYREVIEW_SCORE
	from BUYREVIEW	
	where book_id=#{bookId}</select>
	
<!-- 	게시글 작성하고 출력하기 -->
	
</mapper>