<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TendencyDAO">
	<!-- mybatis 자료형 : int / hashmap / string -->
	<select id="selectTendency" parameterType="customer" resultType="tendency">
		SELECT * FROM TENDENCY WHERE CUSTOMER_ID=#{customerId}	
	</select>
	<select id="selectAllTendency" resultType="tendency">
		SELECT SUM(ART) AS ART, SUM(SOCIAL) AS SOCIAL, SUM(ECONOMIC) AS ECONOMIC, SUM(TECHNOLOGY) AS TECHNOLOGY, SUM(LITERATURE) AS LITERATURE, SUM(HISTORY) AS HISTORY FROM TENDENCY
	</select>
	<insert id="insertTendency" parameterType="customer">
		INSERT INTO TENDENCY(TENDENCY_ID, CUSTOMER_ID, ART, SOCIAL, ECONOMIC, TECHNOLOGY, LITERATURE, HISTORY) VALUES(TENDENCY_ID_SEQ.NEXTVAL, #{customerId}, 0, 0, 0, 0, 0, 0)
	</insert>
	<update id="increaseTendency" parameterType="hashmap">
		update tendency set ${genre}=${genre}+1 where customer_id=#{customerId}
	</update>
	<update id="increaseTendency2" parameterType="hashmap">
		update tendency set ${genre}=${genre}+10 where customer_id=#{customerId}
	</update>
<!-- 	테스트 중인 부분 -->
	<select id="selectOneByGenre" parameterType="book" resultType="book">
		select b.* from (select * from book where book_genre = #{bookGenre} order by book_score/book_scorecount desc) b where rownum=1
	</select>
<!-- 	테스트 중인 부분 -->
</mapper>